.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e2de;
    padding-top: 40px;
}

.about-heading {
    font-size: 2.5rem;
    color: #2d8bba;
    margin-bottom: 0;
    text-align: center;
}
