.directions-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #e7e2de; 
    padding: 40px;
    align-items: center;
    gap: 20px;
    font-family: 'Crimson Pro', serif;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
}

.directions-img {
    width: 45%;
    height: 100%;
}