.schedule-container {
    text-align: center;
    background-color: #2d8bba;
    padding: 20px;
    min-height: 100vh;
}

.schedule-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.schedule-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    font-family: 'Crimson Pro', serif;
}

.schedule-header {
    background-color: #F4A460;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    border: 10px solid #2d8bba;
}

.schedule-time,
.schedule-event {
    padding: 20px;
    text-align: center;
    border: 10px solid #2d8bba;
    font-size: 1.3rem;
}

.schedule-time {
    background-color: #ffc098;
    font-weight: bold;
}

.schedule-event {
    background-color: #FFE4C4;
}

@media (max-width: 600px) {
    .schedule-table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 95%;
    }
}