.header {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo-img {
    height: 80px;
}

.logo-text {
    color: #2d8bba;
    margin: 0;
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #000000;
}
