.header {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: 'Montserrat';
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo-img {
    height: 80px;
    transition: transform 0.3s ease;
}

.logo:hover .logo-img{
    transform: scale(1.1); 
}

.logo-text {
    color: #2d8bba;
    margin: 0;
    font-size: 30px;
    transition: transform 0.3s ease;
}

.logo:hover .logo-text {
    transform: scale(1.05); 
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #e49c6c !important;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 20px; 
        flex-direction: column;
        width: 95%;
    }

    .logo-text {
        font-size: 32px;
        color: #ffffff;
    }

    .nav {
        flex-direction: column; 
        align-items: center;
        gap: 0px;
        margin-right: 0;
    }

    .nav-link {
        font-size: 20px;
    }
}
